<div class="credit-container">

  <div class="thin-divider"></div>

  <div class="credit"><div class="credit-hed">Editor in Chief: </div><a href="mailto:acooper@sfchronicle.com">Audrey Cooper</a> &bull; <a href="https://twitter.com/audreycoopersf">@audreycoopersf</a></div>
  <div class="credit"><div class="credit-hed">Endorsements: </div><a href="mailto:letters@sfchronicle.com">San Francisco Chronicle Editorial Board</a> &bull; <a href="https://twitter.com/sfchronicle">@sfchronicle</a></div>
  <div class="credit"><div class="credit-hed">Editorial Page Editors: </div><a href="mailto:letters@sfchronicle.com">John Diaz</a> &bull; <a href="https://twitter.com/JohnDiazChron">@JohnDiazChron</a><br><a href="mailto:swhitney@sfchronicle.com">Spencer Whitney</a> &bull; <a href="https://twitter.com/SpenceWhitney">@SpenceWhitney</a></div>
  <div class="credit"><div class="credit-hed">Developer: </div><a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a> &bull; <a href="https://twitter.com/emmaruthoneill">@emmaruthoneill</a></div>
  <div class="credit"><div class="credit-hed">Graphic illustrator: </div><a href="mailto:ttrumbull@sfchronicle.com">Todd Trumbull</a></div>
  <div class="credit"><div class="credit-hed">Copy Editor: </div><a href="mailto:wpederson@sfchronicle.com">Warren Pederson</a></div>

</div>
