<div class="credit-container">

  <div class="thin-divider"></div>

  <div class="write-us-a-letter">We invite you to express your views in a <a href="https://www.sfchronicle.com/opinion/article/submit-your-opinion-7244189.php" target="_blank">letter to the editor</a>.</div>

  <div class="thin-divider"></div>

  <div class="credit"><div class="credit-hed">Editor in Chief: </div><a href="mailto:acooper@sfchronicle.com">Audrey Cooper</a> &bull; <a href="https://twitter.com/audreycoopersf">@audreycoopersf</a></div>
  <div class="credit"><div class="credit-hed">Editorial Page Editor: </div><a href="mailto:letters@sfchronicle.com">John Diaz</a> &bull; <a href="https://twitter.com/JohnDiazChron">@JohnDiazChron</a></div>
  <div class="credit"><div class="credit-hed">Politics Editors: </div><a href="mailto:tbyrne@sfchronicle.com">Trapper Byrne</a> &bull; <a href="https://twitter.com/trapperbyrne">@trapperbyrne</a><br><a href="mailto:mlundgren@sfchronicle.com">Mark Lundgren</a> &bull; <a href="https://twitter.com/SFCityInsider">@SFCityInsider</a></div>
  <div class="credit"><div class="credit-hed">Developer: </div><a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a> &bull; <a href="https://twitter.com/emmaruthoneill">@emmaruthoneill</a></div>
  <div class="credit"><div class="credit-hed">Graphic illustrator: </div><a href="mailto:ttrumbull@sfchronicle.com">Todd Trumbull</a></div>
  <div class="credit"><div class="credit-hed">Copy Editor: </div><a href="mailto:wpederson@sfchronicle.com">Warren Pederson</a></div>

</div>
