<script src="//projects.sfchronicle.com/shared/js/responsive-frame.js"></script>

<div class="top-container">
  <div class="election-banner">
    <img src="./assets/graphics/Election2018banner.png">
  </div>
  <div class="title">Voter Guide</div>
  <div class="intro">
    <div class="intro-line">The Chronicle urges all eligible voters to take part in the June 5 election. These are The Chronicle Editorial Board's recommendations, for your consideration before you fill out a ballot. Find comprehensive campaign and election coverage at our <a href="https://www.sfchronicle.com/elections/" target="_blank">Election 2018 page.</a> For details on how and where to vote, see <a href="http://www.sos.ca.gov/elections/where-and-how/" target="_blank">the state's website</a>.</div>
  </div>

  <div class="link-to-short-list"><a href="./endorsements-list">View endorsements list<i class="fa fa-angle-double-right"></i></a></div>

</div>

<div class="nav-hed" id="question-link">What are you looking for?</div>
<div class="button-container">
  <div class="nav-filter-button" id="button-state">State</div>
  <div class="nav-filter-button" id="button-region">Region</div>
  <div class="nav-filter-button" id="button-sf">San Francisco</div>
  <div class="nav-filter-button" id="button-judiciary">Judiciary</div>
  <div class="nav-filter-button active" id="button-all">All</div>
</div>

<div class="endorsements-container">
<% json.sf_chronicle_endorsements_list.endorsements.forEach(function(d,dIDX) { %>
  <% if (d.Race){ %>
    <div class="endorsements-box active <%=d.Tag.replace(',',' ')%> <%=d.Class%>">
      <% if (d.Icon && !d.Candidates) { %>
        <div class="prop-icon"><img src="./assets/graphics/<%=d.Icon%>"></img></div>
      <% } %>
      <div class="race"><%=d.Race%></div>
      <div class="sentence"><%=d.Summary%></div>
      <% if (d.Candidates){ %>
        <div class="candidates-wrapper">
          <% d.Candidates.forEach(function(candidate){ %>
            <div class="candidate-line <%=d.Race%>"><span class="party-icon <%=candidate.Party%>"><%=candidate.Party%></span><span class="candidate-name"><%=candidate.Name%></span> <%=candidate.Candidate%><% if (candidate.Story) { %><span class="story-link"><a href="<%=candidate.Story%>"><i class="fa fa-external-link-square"></i> Story</a></span><% } %><% if (candidate.Video) { %><span class="video-link"><a href="<%=candidate.Video%>"><i class="fa fa-video-camera"></i> Video</a></span><% } %></div>
          <% }); %>
        </div>
      <% } %>
      <% if (d.Issues){ %>
        <div class="issues-wrapper">
          <div class="issues-hed">On the issues:</div>
          <% d.Issues.forEach(function(issue){ %>
            <div class="issue-line <%=d.Race%>"><a href="<%=issue.Link%>" target="_blank"><i class="fa fa-external-link"></i><%=issue.Issue%></a></div>
          <% }); %>
        </div>
      <% } %>
      <% if (d.Endorsement){ %>

        <% if (d.Icon && d.Candidates){ %>
          <div class="endorsement-info">
          <div class="prop-icon prop-icon-left"><img src="./assets/graphics/<%=d.Icon%>"></img></div>
          <div class="other-sub-box">
            <div class="recommends">The Chronicle recommends</div>
            <div class="recommendation-line <%=d.Endorsement.toLowerCase().replace(/ /g,'')%>"><span class="recommendation <%=d.Endorsement.toLowerCase().replace(/ /g,'')%>"><%=d.Endorsement%></span></div>
            <% if (d.Article) { %><div class="link editorial-link"><a href="<%=d.Article%>" target="_blank">Our editorial <i class="fa fa-angle-double-right"></i></a></div><% } %>
          </div>
          </div>
        <% }  else { %>
          <div class="recommends">The Chronicle recommends</div>
          <div class="recommendation-line <%=d.Endorsement.toLowerCase().replace(/ /g,'')%>"><span class="recommendation <%=d.Endorsement.toLowerCase().replace(/ /g,'')%>"><%=d.Endorsement%></span></div>
          <% if (d.Article) { %><div class="link editorial-link"><a href="<%=d.Article%>" target="_blank">Our editorial <i class="fa fa-angle-double-right"></i></a></div><% } %>
        <% } %>

        <% if (d.PodcastID || d.RelatedLinks){ %>
          <% if (d.PodcastID) { var podcastvis = "podcasticon" } else { var podcastvis = "" } %>
          <div class="see-more-mobile" id="read-more-<%=dIDX%>"><span class="read-more-less">Our total coverage</span> <a href="#vid<%=dIDX%>"></a><a href="#pod<%=dIDX%>"><i class="fa fa-volume-up <%=podcastvis%>"></i></a><i class="fa fa-expand"></i><i class="fa fa-caret-down caretclass"></i></div>
          <div class="extras-wrapper"  id="extras-<%=dIDX%>">
            <div class="extras-overlay">
              <div class="exit-button" id="exit-<%=dIDX%>"><i class="fa fa-times"></i></div>
              <div class="race"><%=d.Race%></div>
              <% if (d.PodcastID){ %>
                <div class="podcast-wrapper" id="pod<%=dIDX%>"><iframe is="responsive-iframe" interval="0" src="<%=d.PodcastID%>?"></iframe></div>
              <% } %>
              <% if (d.RelatedLinks){ %>
                <div class="related-links-wrapper">
                <% d.RelatedLinks.forEach(function(link){ %>
                  <div class="related-link-line"><a href="<%=link.Link%>"><i class="fa fa-external-link-square"></i><%=link.Sentence%></div></a>
                <% }); %>
                </div>
              <% } %>
            </div>
          </div>
          <% } %>
        <% } %>
      </div>
  <% } else if (d.Measure){ %>
    <div class="endorsements-box active <%=d.Tag.replace(',',' ')%>">
      <% if (d.Icon){ %>
        <div class="prop-icon"><img src="./assets/graphics/<%=d.Icon%>"></img></div>
      <% } %>
      <div class="race"><%=d.Measure%></div>
      <div class="sentence"><%=d.Summary%></div>
      <% if (d.ProCon){ %>
        <div class="procon-container">
          <div class="pro"><span class="procon-hed">Pros:</span><%=d.ProCon[0].For%></div>
          <div class="con"><span class="procon-hed">Cons:</span><%=d.ProCon[0].Against%></div>
        </div>
      <% } %>
      <% if (d.Endorsement){ %>
        <div class="recommends">The Chronicle recommends</div>
        <% if (d.Endorsement == "Yes") { %>
          <div class="recommendation-line"><span class="recommendation <%=d.Endorsement%>"><i class="fa fa-check"></i><%=d.Endorsement%></span> on <%=d.Measure%></div>
        <% } else if (d.Endorsement == "No") { %>
          <div class="recommendation-line"><span class="recommendation <%=d.Endorsement%>"><i class="fa fa-times"></i><%=d.Endorsement%></span> on <%=d.Measure%></div>
        <% } else { %>
          <div class="recommendation-line <%=d.Endorsement.toLowerCase().replace(/ /g,'')%>"><span class="recommendation noendorsement"><%=d.Endorsement%></span> on <%=d.Measure%></div>
        <% } %>
        <% if (d.Article) { %><div class="link editorial-link"><a href="<%=d.Article%>" target="_blank">Our editorial <i class="fa fa-angle-double-right"></i></a></div><% } %>
        <% if (d.PodcastID || d.VideoID || d.RelatedLinks){ %>
          <div class="see-more-mobile" id="read-more-<%=dIDX%>"><span class="read-more-less">Our total coverage</span> <i class="fa fa-expand"></i><i class="fa fa-caret-down caretclass"></i></div>
          <div class="extras-wrapper"  id="extras-<%=dIDX%>">
            <div class="extras-overlay">
              <div class="exit-button" id="exit-<%=dIDX%>"><i class="fa fa-times"></i></div>
              <div class="race"><%=d.Measure%></div>
              <% if (d.PodcastID){ %>
                <div class="podcast-wrapper"><iframe is="responsive-iframe" interval="0" src="<%=d.PodcastID%>?"></iframe></div>
              <% } %>
              <% if (d.RelatedLinks){ %>
                <div class="related-links-wrapper">
                <% d.RelatedLinks.forEach(function(link){ %>
                  <div class="related-link-line"><a href="<%=link.Link%>"><i class="fa fa-external-link-square"></i><%=link.Sentence%></div></a>
                <% }); %>
                </div>
              <% } %>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
  <% } else if (d.County){ %>
    <div class="endorsements-box active <%=d.Tag.replace(',',' ')%>">
      <% if (d.Icon){ %>
        <div class="prop-icon"><img src="./assets/graphics/<%=d.Icon%>"></img></div>
      <% } %>
      <div class="race"><%=d.County%></div>
      <div class="sentence"><%=d.Summary%></div>
      <% if (d.Endorsement){ %>
        <div class="recommends">The Chronicle recommends</div>
        <% if (d.Endorsement == "Yes") { %>
          <div class="recommendation-line"><span class="recommendation <%=d.Endorsement%>"><i class="fa fa-check"></i><%=d.Endorsement%></span> on <%=d.County%></div>
        <% } else if (d.Endorsement == "No") { %>
          <div class="recommendation-line"><span class="recommendation <%=d.Endorsement%>"><i class="fa fa-times"></i><%=d.Endorsement%></span> on <%=d.County%></div>
        <% } else { %>
          <div class="recommendation-line <%=d.Endorsement.toLowerCase().replace(/ /g,'')%>"><span class="recommendation <%=d.Endorsement.toLowerCase().replace(/ /g,'')%>"><%=d.Endorsement%></span></div>
        <% } %>
        <% if (d.Article) { %><div class="link editorial-link"><a href="<%=d.Article%>" target="_blank">Our editorial <i class="fa fa-angle-double-right"></i></a></div><% } %>
        <% if (d.PodcastID || d.VideoID || d.RelatedLinks){ %>
          <div class="see-more-mobile" id="read-more-<%=dIDX%>"><span class="read-more-less">Our total coverage</span> <i class="fa fa-expand"></i><i class="fa fa-caret-down caretclass"></i></div>
          <div class="extras-wrapper"  id="extras-<%=dIDX%>">
            <div class="extras-overlay">
              <div class="exit-button" id="exit-<%=dIDX%>"><i class="fa fa-times"></i></div>
              <div class="race"><%=d.County%></div>
              <% if (d.PodcastID){ %>
                <div class="podcast-wrapper"><iframe is="responsive-iframe" interval="0" src="<%=d.PodcastID%>?"></iframe></div>
              <% } %>
              <% if (d.RelatedLinks){ %>
                <div class="related-links-wrapper">
                <% d.RelatedLinks.forEach(function(link){ %>
                  <div class="related-link-line"><a href="<%=link.Link%>"><i class="fa fa-external-link-square"></i><%=link.Sentence%></div></a>
                <% }); %>
                </div>
              <% } %>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
  <% } %>
<% }); %>
</div>
