<div class="house-map-wrapper">
  <div class="house-races-hed">Golden State Battles: <div>House of Representatives</div></div>
  <div class="deck">With the 2018 election season heating up, here's an up-to-date map that shows how the polling is playing out in California House districts.</div>
  <div class="legend-container">
    <div class="legend-element"><div class="legendbox dem"></div><div class="legendtext">Solid Democratic</div></div>
    <div class="legend-element"><div class="legendbox dem25"></div><div class="legendtext">Likely Democratic</div></div>
    <div class="legend-element"><div class="legendbox dem50"></div><div class="legendtext">Lean Democratic</div></div>
    <div class="legend-element"><div class="legendbox tossup"></div><div class="legendtext">Toss-up</div></div>
    <div class="legend-element"><div class="legendbox rep50"></div><div class="legendtext">Lean Republican</div></div>
    <div class="legend-element"><div class="legendbox rep25"></div><div class="legendtext">Likely Republican</div></div>
    <div class="legend-element"><div class="legendbox rep"></div><div class="legendtext">Solid Republican</div></div>
  </div>
  <div id="map-container-state" class="padding"></div>
  <div class="source">Source: Data from <a href="https://ballotpedia.org/United_States_Congress_elections,_2018">Ballotpedia</a></div>
  <div class="credit">Interactive producer: <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a> &bull; <a href="https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>

</div>
