<div class="house-map-wrapper">
  <div class="house-races-hed">Golden State Battles: <div>House of Representatives</div></div>
  <div class="deck">With the 2018 election season heating up, here's an up-to-date map that shows how the polling is playing out in California House districts.</div>
  <div class="legend-container">
    <div class="legend-element"><div class="legendbox dem"></div><div class="legendtext">Solid Democratic</div></div>
    <div class="legend-element"><div class="legendbox dem25"></div><div class="legendtext">Likely Democratic</div></div>
    <div class="legend-element"><div class="legendbox dem50"></div><div class="legendtext">Lean Democratic</div></div>
    <div class="legend-element"><div class="legendbox tossupd"></div><div class="legendtext">Toss-up Democratic</div></div>
    <div class="legend-element"><div class="legendbox tossupr"></div><div class="legendtext">Toss-up Republican</div></div>
    <div class="legend-element"><div class="legendbox rep50"></div><div class="legendtext">Lean Republican</div></div>
    <div class="legend-element"><div class="legendbox rep25"></div><div class="legendtext">Likely Republican</div></div>
    <div class="legend-element"><div class="legendbox rep"></div><div class="legendtext">Solid Republican</div></div>
  </div>
  <div id="map-container-state" class="padding"></div>
  <div class="source">Source: Data from <a href="https://www.cookpolitical.com/ratings/house-race-ratings" target="_blank">Cook Political Report</a></div>
  <div class="aboutdata">About the data: Solid races are not expected to be competitive. Likely races are not competitive now but could tighten. Leaning races are competitive, with one party having the advantage. Toss-ups could go either way.</div>
  <div class="credit">Interactive producer: <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a> &bull; <a href="https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>

</div>
