.speciallink {
  @media @mobile {
    padding-top: 5px;
    opacity: 0;
    -webkit-transition: opacity 500ms linear;
    -ms-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
    &.displayclass {
      opacity: 1;
    }
  }
}

.write-us-a-letter {
  font-family: @block-graphics;
  font-size: 18px;
  padding: 0 10px;
  text-align: center;
}

.link-to-full-guide, .link-to-short-list {
  font-family: @bold-graphics;
  text-align: center;
  padding-bottom: 20px;
}
.link-to-full-guide {
  .fa {
    padding-right: 10px;
  }
}
.link-to-short-list {
  .fa {
    padding-left: 10px;
  }
  @media @mobile {
    padding-top: 10px;
  }
}

#video-exit, #podcast-exit {
  font-size: 50px;
  text-align: right;
  position: fixed;
  top: 20%;
  right: 10%;
  display: none;
  &.show {
    display: block;
  }
  @media @width1100 {
    top: 60px;
  }
}

.story-link, .video-link, .podcast-link {
  padding-left: 10px;
  display: inline-block;
  font-family: @block-graphics;
}
.video-link, .podcast-link {
  color: @highlight;
  text-decoration: underline;
  &:hover {
    color: darken(@highlight,10%);
    cursor: pointer;
  }
}

#scroll-up-arrow-mobile, #scroll-up-arrow-mobile-list {
  display: none;
  @media @mobile {
    z-index: 9999;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 20px;
    background: rgba(255,255,255,0.8);
    border: 1px solid @light-gray;
    &:hover {
      cursor: pointer;
    }
  }
  &.hidearrow {
    @media @mobile {
      display: none;
    }
  }
}

.noscroll{
  overflow: hidden;
  @media @mobile {
    overflow: visible;
  }
}

.title {
  font-family: @bold-graphics;
  margin-top: 0;
  padding-top: 0;
  line-height: 1;
  padding-bottom: 15px;
  @media @mobile {
    font-size: 40px;
  }
  &.edboard {
    font-size: 50px;
    line-height: 1.1;
    @media @mobile {
      font-size: 40px;
    }
  }
}

.election-banner {
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
  img {
    width: 100%;
    line-height: 1;
  }
  @media @mobile {
    margin-top: 55px;
  }
}

.prop-icon {
  max-width: 80px;
  margin: auto;
  img {
    width: 100%;
  }
}

.intro {
  max-width: 800px;
  margin: auto;
  text-align: center;
  font-family: @med-graphics;
  font-size: 18px;
  line-height: 1.3;
  padding: 10px 20px;
  @media @mobile {
    font-size: 16px;
    text-align: left;
    padding: 0 10px;
  }
}

.edboard-intro {
  font-family: @med-graphics;
  max-width: 800px;
  margin: auto;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  padding: 20px;
  @media @mobile {
    font-size: 16px;
    text-align: left;
    padding: 0 10px;
    padding-top: 20px;
  }
}

.edboard-link {
  .fa {
    padding-right: 10px;
  }
  font-size: 16px;
  text-align: center;
  font-family: @bold-graphics;
  padding: 10px 20px 10px 20px;
  line-height: 1.2;
  @media @mobile {
    // text-align: left;
    padding-top: 30px;
  }
}

.editorial-link {
  background: @highlight;
  font-family: @bold-graphics;
  color: white;
  a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  padding: 5px 12px;
  margin: 10px;
  &:hover {
    background: darken(@highlight,10%);
    color: white;
  }
  margin-bottom: 20px;
}

.nav-hed {
  font-family: @block-graphics;
  text-align: center;
  padding: 5px 0 10px 0;
  font-size: 18px;
}

.top-filter-button, .list-link {
  font-family: @banner;
  color: @highlight;
  font-size: 15px;
  vertical-align: middle;
  // padding-top: 10px;
  padding: 6px 5px 0px 5px;
  margin-top: -8px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  opacity: 0;
  -webkit-transition: opacity 500ms linear;
  -ms-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
  height: 37px;
  &.active {
    background: lighten(@light-gray,5%);
    height: 37px;
    color: darken(@highlight,5%);
  }
  &.displayclass {
    opacity: 1;
  }
  &:hover {
    cursor: pointer;
    font-weight: 800;
  }
}

.top-filter-button {
  @media @nav-width {
    display: none;
  }
}

.list-link {
  a {
    color: @red;
  }
  @media @mobile {
    padding-top: 7px;
  }
}

.button-container {
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  font-family: @block-graphics;
  // padding: 10px 0;
  padding-top: 0;
  @media @mobile {
    // margin: 0 10px 20px 10px;
    max-width: 350px;
    margin: auto;
    margin-bottom: 10px;
  }
  .nav-filter-button {
    padding: 5px 20px;
    display: inline-block;
    vertical-align: text-bottom;
    text-transform: uppercase;
    font-size: 17px;
    background: lighten(@highlight,15%);
    color: white;
    font-family: @bold-graphics;
    cursor: pointer;
    // border: 2px solid @highlight;
    &:hover {
      background: darken(@highlight,10%);
      color: white;
    }
    &.active {
      background: darken(@highlight,10%);
      color: white;
    }
    a {
      text-decoration: none;
    }
    @media @mobile {
      height: auto;
      font-size: 15px;
      padding: 5px 10px;
      margin: 2px 1px;
    }
  }
}

.section-hed {
  font-family: @bold-graphics;
  border-bottom: 3px solid @highlight;
  max-width: 600px;
  margin: auto;
  color: @highlight;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 18px;
}

.endorsements-container {
  max-width: 1000px;
  margin: auto;
  font-family: @block-graphics;
  line-height: 1.4;
  .display-flex;
  .flex-wrap(wrap);
  .align-items(normal);
  .endorsements-box {
    .flex(0 0 48%);
    &.endorsements-smallbox {
      .flex(0 0 31%);
      @media @mobile {
        .flex( 0 0 95%);
        padding: 10px;
      }
    }
    margin: 20px auto 0 auto;
    // background: lighten(@light-gray,17%);
    padding: 30px;
    text-align: center;
    border: 1px solid @light-gray;
    display: none;
    &.featured {
      .flex(0 0 98%);
      .sentence {
        max-width: 620px;
        margin: auto;
      }
    }
    @media @mobile {
      .flex(0 0 95%);
      padding: 10px;
    }
    &.active {
      display: block;
    }
    .race {
      font-family: @bold-graphics;
      font-size: 24px;
      padding-bottom: 5px;
      line-height: 1;
      @media @mobile {
        padding: 10px;
      }
    }
    .sentence {
      font-family: @med-graphics;
      font-size: 16px;
      padding-top: 5px;
      padding: 5px 10px 0 10px;
      @media @mobile {
        padding: 5px 0 0 0;
      }
    }
    .recommends {
      font-family: @bold-graphics;
      text-transform: uppercase;
      font-size: 13px;
      padding-top: 20px;
      &.recommends-smallbox {
        padding-top: 10px;
      }
    }
    .recommendation-line {
      font-family: @med-graphics;
      font-size: 16px;
      // padding: 10px 0;
      line-height: 1.2;
      // color: @dark-gray;
      @media @mobile {
        padding: 0 10px;
      }
      &.noendorsement {
        @media @mobile {
          padding-bottom: 15px;
        }
      }
    }
    .recommendation {
      font-family: @bold-graphics;
      color: lighten(@green2,5%);
      font-size: 22px;
      .fa {
        padding-right: 5px;
      }
      &.No {
        color: @red;
      }
      &.noendorsement {
        color: @light-gray;
      }
    }
  }
}

.see-more-mobile {
  font-size: 16px;
  color: @dark-gray;
  background: lighten(#d7d7d7,10%);
  cursor: pointer;
  padding: 10px;
  // margin-top: 10px;
  cursor: pointer;
  @media @mobile {
    padding: 10px;
  }

  .read-more-less {
    margin-right: 5px;
  }

  .fa {
    margin-left: 5px;
  }
  .fa-caret-down {
    display: none;
    @media @mobile {
      display: inline-block;
    }
  }
  .fa-expand {
    @media @mobile {
      display: none;
    }
  }
  // display: none;
  // @media @mobile {
  //   display: block;
  // }
}

.podcast-padding {
  padding: 30px 0;
}

.video-wrapper, .podcast-wrapper {
  display: none;
  &.show {
    display: block;
    background: rgba(178, 178, 178, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1999;
    overflow-y: scroll;
  }
  .video-overlay, .podcast-overlay {
    background: white;
    width: 80%;
    margin: 60px auto 40px auto;
    max-width: 1000px;
    padding: 40px;
    @media @width2060 {
      margin-top: 100px;
      max-width: 800px;
    }
    @media @width1100 {
      width: 95%;
      padding: 0;
      margin: 150px auto 40px auto;
    }
  }
}

.extras-wrapper {
  display: none;
  &.show {
    display: block;
    background: rgba(178, 178, 178, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1999;
    overflow-y: scroll;
    @media @mobile {
      position: relative;
      overflow-y: visible;
      background: none;
      height: inherit;
      display: inline-block;
      border-top: 1px solid @light-gray;
    }
  }
  .extras-overlay {
    background: white;
    width: 80%;
    margin: 60px auto 40px auto;
    max-width: 680px;
    padding: 40px;
    .race {
      color: @dark-gray;
      font-family: @med-graphics;
      text-transform: uppercase;
      font-size: 17px;
      border-bottom: 1px solid @light-gray;
      margin-bottom: 20px;
      @media @mobile {
        display: none;
      }
    }
    .podcast-wrapper {
      max-width: 600px;
      margin-bottom: 30px;
      @media @mobile {
        margin-bottom: 30px;
      }
    }
    .jw-wrapper {
      margin-top: 20px;
      max-width: 600px;
      margin-bottom: 30px;
    }
    .desktop-repeat-info {
      text-align: left;
      .editorial-link {
        margin-left: 0;
        display: block;
      }
      .recommends, .recommendation-line, .recommendation {
        display: inline-block;
        // font-size: 20px;
        padding-top: 0;
        line-height: 1;
      }
      .recommends {
        color: @dark-gray;
        // font-family: @block-graphics;
        // text-transform: capitalize;
      }
      .sentence {
        padding: 10px 0;
      }
      @media @mobile {
        display: none;
      }
    }
    @media @mobile {
      width: 100%;
      // margin: 10px;
      margin: 0;
      padding: 15px;
      background: #f1f1f1;
    }
    .exit-button {
      font-size: 30px;
      text-align: right;
      margin-top: -20px;
      // position: fixed;
      // top: 20%;
      // right: 10%;
      @media @mobile {
        display: none;
      }
    }
  }
}

.tooltip {
  font-size: 14px;
  z-index: 50;
  font-family: @med-graphics;
  padding: 10px;
  border-radius: 3px;
  background: lighten(@light-gray,20%);
  border: 1px @dark-gray solid;
  min-width: 140px;
  position: absolute;
  z-index: 10;
  visibility: hidden;
  .fa-check-circle-o {
    color: green;
    margin-right: 5px;
  }
  .state-name {
    font-family: @block-graphics;
    padding-bottom: 2px;
  }
  @media @tablet {
    font-size: 12px;
  }
  @media @mobile {
    line-height: 20px;
  }
}

.close-tooltip {
  display: none;
  @media @mobile {
    z-index: 100;
    display: block;
    float: right;
    font-size: 16px;
    padding: 2px;
    margin-top: -5px;
    padding-left: 10px;
    pointer-events: all;
  }
}

.label-SF, .label-LA {
  font-family: @block-graphics;
  font-size: 18px;
  @media @phone-horiz {
    font-size: 15px;
  }
  @media @mobile {
    font-size: 10px;
  }
}

.label-SF {
  margin-top: -250px;
  @media @phone-horiz {
    margin-top: -220px
  }
  @media @mobile {
    margin-top: -180px;
  }
}
.label-LA {
  margin-top: -50px;
  @media @mobile {
    margin-top: -50px;
  }
}

.house-map-wrapper {
  max-width: 800px;
  width: 98%;
  margin: 0 auto;
  padding: 10px;
  @media @mobile {
    padding: 10px 0 0 0;
  }
  // border: 1px solid @light-gray;
  .source, .credit, .aboutdata {
    margin-top: -10px;
    // padding: 0;
    padding-top: 5px;
    padding-left: 50px;
    @media @tablet-horiz {
      padding: 3px 0;
      padding-left: 10px;
    }
    @media @mobile {
      margin-top: 10px;
      padding: 3px 0;
    }
  }
  .source {
    padding-top: 10px;
  }
  .aboutdata {
    margin-top: 0;
  }
  .credit {
    margin-top: 0;
    margin-bottom: 10px;
  }
  font-family: @med-graphics;
  line-height: 1.4;
  .house-information {
    font-size: 16px;
    padding-bottom: 30px;
  }
}

.house-races-hed {
  margin: auto;
  font-family: @bold-graphics;
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  line-height: 1.2;
}

.deck {
  font-size: 16px;
  font-family: @med-graphics;
  max-width: 600px;
  margin: auto;
  line-height: 1.4;
  padding: 20px 0;
  text-align: center;
}


.fa-video-camera, .fa-volume-up {
  // margin-left: 10px;
  color: @highlight;
}

#map-container-state {
  margin:auto;
  // position: relative;
  // text-align: center;
  max-width: 600px;
  margin-bottom: 4%;
  @media @mobile {
    margin-bottom: 6%;
  }
  pointer-events: all;
  .noclick {
    pointer-events: none;
  }
  // padding-bottom:
}

.states {
  // fill: #b2b2b2;
  z-index: -1;
  stroke: white;
  stroke-linejoin: round;
  stroke-width: 0.5px;
  &:hover {
    opacity: 0.7;
    // cursor: pointer;
  }
}

.related-links-title, .candidates-title {
  font-family: @bold-graphics;
  font-size: 17px;
  padding-bottom: 15px;
  text-align: left;
}

.related-links-wrapper {
  font-family: @med-graphics;
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  .related-link-line {
    padding-bottom: 10px;
    a {
      text-decoration: none;
      color: #333;
    }
    .fa {
      font-size: 20px;
      padding-right: 7px;
      color: @highlight;
    }
  }
}

.endorsement-info {
  .display-flex;
  .flex-wrap(wrap);
  .align-items(normal);
  max-width: 400px;
  margin: auto;
  .prop-icon-left, .other-sub-box {
    .flex(0 0 50%);
  }
  .prop-icon-left {
    @media @mobile {
      .flex(0 0 30%);
    }
  }
  .other-sub-box {
    text-align: left;
    .editorial-link {
      margin-left: 0;
      @media @mobile {
        margin-left: 10px;
      }
    }
    @media @mobile {
      text-align: center;
      .flex(0 0 70%);
    }
  }
}

.party-icon {
  font-family: @bold-graphics;
  color: white;
  padding: 0 5px 1px 6px;
  border-radius: 10px;
  font-size: 13px;
  vertical-align: top;
  &.D {
    background: @highlight;
  }
  &.R {
    background: @red;
  }
}

.issues-wrapper {
  padding: 10px 0 20px 0;
  border-bottom: 1px solid @light-gray;
  .issues-hed, .issue-line {
    display: inline-block;
    padding-right: 20px;
  }
  .issues-hed {
    font-size: 17px;
  }
  .issue-line {
    font-size: 16px;
    font-style: italic;
    .fa {
      padding-right: 5px;
      font-size: 16px;
    }
  }
}

.candidates-wrapper {
  text-align: left;
  font-family: @med-graphics;
  line-height: 1.2;
  color: @dark-gray;
  .display-flex;
  .flex-wrap(wrap);
  .align-items(normal);
  .candidate-line {
    font-size: 15px;
    padding-bottom: 10px;
    // .fa {
    //   color: @dark-gray;
    //   margin-right: 5px;
    // }
    .flex(0 0 50%);
    @media @mobile {
      .flex(0 0 100%);
    }
    &.Governor {
      .flex(0 0 33%);
      @media @mobile {
        .flex(0 0 100%);
      }
    }
    padding: 10px;
  }
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid @light-gray;
  // border-top: 1px solid @light-gray;
  @media @mobile {
    border-top: 0;
    margin-top: 0;
  }
  .candidate-name {
    font-family: @block-graphics;
    // font-size: 28px;
    text-transform: uppercase;
    padding: 5px;
    color: #333;
  }
}

.legend-container {
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-bottom: 30px;
  line-height: 1;
  .legend-element {
    margin: 0 5px;
    display: inline-block;
    font-size: 14px;
    .legendtext {
      margin-left: 5px;
      float: left;
      padding-top: 2px;
    }
    .legendbox {
      height: 14px;
      width: 14px;
      float: left;
      margin-top: 3px;
      &.dem { background: #2176AE;}
      &.dem25 { background: lighten(#2176AE,10%);}
      &.dem50 { background: lighten(#2176AE,20%);}
      &.rep { background: #EC1C24;}
      &.rep25 { background: lighten(#EC1C24,10%);}
      &.rep50 { background: lighten(#EC1C24,20%);}
      &.tossupr { background: #BF4A8E;}
      &.tossupd { background: #674ABF;}
    }
  }
}

.credit-container {
  max-width: 600px;
  margin: auto;
  margin-top: 70px;
  @media @mobile {
    width: 95%;
  }
  .credit-hed {
    font-family: @med-graphics;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
  }
  .credit {
    text-align: center;
    font-family: @med-graphics;
    font-size: 16px;
    font-style: normal;
    padding-bottom: 15px;
    a {
      font-family: @bold-graphics;
    }
  }
}

.thin-divider {
  border-bottom: 1px solid @light-gray;
  margin: 50px auto;
  @media @tablet {
    width: 90%;
  }
}

.procon-container {
  padding-top: 20px;
  font-size: 16px;
  line-height: 1.2;
  font-family: @med-graphics;
  text-align: left;
  .display-flex;
  .flex-wrap(wrap);
  .align-items(normal);
  @media @tablet-horiz {
    font-size: 15px;
  }
  @media @tablet {
    font-size: 14px;
  }
  .pro, .con {
    padding: 10px;
    .flex(0 0 49%);
    @media @tablet {
      padding: 5px;
    }
  }
  .procon-hed {
    font-family: @bold-graphics;
    font-style: italic;
    padding-right: 10px;
  }
}

// .RACEGovernor {
//   visibility: hidden;
//   height: 20px;
// }
