
.title {
  font-family: @bold-graphics;
  margin-top: 50px;
}

.intro {
  max-width: 800px;
  margin: auto;
  text-align: center;
  font-family: @med-graphics;
  font-size: 18px;
  line-height: 1.3;
  .intro-line {
    padding: 5px 0;
  }
}

.nav-hed {
  font-family: @block-graphics;
  text-align: center;
  padding: 20px 0 10px 0;
  font-size: 18px;
}

.nav {
  margin: auto;
  text-align: center;
  font-family: @block-graphics;
  // padding: 10px 0;
  padding-top: 0;
  .nav-element {
    padding: 0 20px;
    padding-top: 5px;
    display: inline-block;
    vertical-align: text-bottom;
    text-transform: uppercase;
    font-size: 17px;
    border-bottom: 3px solid @highlight;
    font-family: @bold-graphics;
    margin: 0 10px;
    height: 37px;
    a {
      text-decoration: none;
    }
    &.activelink {
      background: lighten(@light-gray,10%);
    }
  }
}

.section-hed {
  font-family: @bold-graphics;
  border-bottom: 3px solid @highlight;
  max-width: 600px;
  margin: auto;
  color: @highlight;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 18px;
}

.endorsements-container {
  max-width: 1000px;
  margin: auto;
  font-family: @block-graphics;
  line-height: 1.4;
  .display-flex;
  .flex-wrap(wrap);
  .align-items(normal);
  .endorsements-box {
    .flex(0 0 48%);
    margin: 20px auto 0 auto;
    background: lighten(@light-gray,17%);
    padding: 20px;
    text-align: center;
    .race {
      font-family: @bold-graphics;
      font-size: 24px;
      padding-bottom: 5px;
    }
    .sentence {
      font-family: @med-graphics;
      font-size: 16px;
    }
    .recommends {
      font-family: @bold-graphics;
      text-transform: uppercase;
      font-size: 13px;
      padding-top: 20px;
    }
    .recommendation-line {
      font-family: @med-graphics;
      font-size: 16px;
      padding: 10px 0;
      line-height: 1.2;
      // color: @dark-gray;
    }
    .recommendation {
      font-family: @bold-graphics;
      color: lighten(@green2,5%);
      font-size: 22px;
      .fa {
        padding-right: 5px;
      }
    }
    .link {
      font-style: italic;
    }
  }
}

.fixed-second {
  position: fixed;
  top: 37px;
  width: 100%;
  z-index: 99;
  left: 0;
  background: lighten(@tan,4%);
  -webkit-box-shadow: 0 0 6px 0 @dark-gray;
  -moz-box-shadow: 0 0 6px 0 @dark-gray;
  box-shadow: 0 0 6px 0 @dark-gray;
  height: 37px;
  .nav-element {
    border-bottom: 0;
  }
}

#stick-ph {
  height: 37px;
}
