<%= t.include("partials/_head.html") %>

<%= t.include("partials/_endorsements.html") %>

<div class="house-map-wrapper">
  <div class="house-races-hed">House of Representatives</div>
  <div class="deck">There was a time when Orange County was deep red. Those days are gone, and California Democrats think the birthplace of the John Birch Society now holds the key to <a href="https://www.sfchronicle.com/politics/article/Democrats-trying-to-turn-Orange-County-blue-one-12204481.php">retaking the House.</a></div>
  <div class="legend-container">
    <div class="legend-element"><div class="legendbox dem"></div><div class="legendtext">Solid Democratic</div></div>
    <div class="legend-element"><div class="legendbox dem25"></div><div class="legendtext">Likely Democratic</div></div>
    <div class="legend-element"><div class="legendbox dem50"></div><div class="legendtext">Lean Democratic</div></div>
    <div class="legend-element"><div class="legendbox tossup"></div><div class="legendtext">Toss-up</div></div>
    <div class="legend-element"><div class="legendbox rep50"></div><div class="legendtext">Lean Republican</div></div>
    <div class="legend-element"><div class="legendbox rep25"></div><div class="legendtext">Likely Republican</div></div>
    <div class="legend-element"><div class="legendbox rep"></div><div class="legendtext">Solid Republican</div></div>
  </div>
  <div id="map-container-state" class="padding"></div>
  <div class="source">Source: Data from <a href="https://ballotpedia.org/United_States_Congress_elections,_2018">Ballotpedia</a></div>
  <div class="house-information" id="house-information">

    <p>Among all the Republicans whom Democrats are trying to knock off to retake the House, one stands out for being … different. <a href="https://www.sfchronicle.com/politics/article/The-pro-Russia-pro-weed-pro-Assange-GOP-12195944.php">Rep. Dana Rohrabacher</a> is pro-marijuana legalization, thinks last year’s Charlottesville riots were staged by liberals, and is such a fan of Russia that a fellow Republican once joked that “Putin pays” him.</p>

    <p><a href="https://www.sfchronicle.com/politics/article/Democrats-in-droves-targeting-California-s-12497966.php">Democrats are enthusiastic</a> about their prospects of defeating Republican House incumbents in California -- perhaps a bit too enthusiastic for their own good.</p>

    <p>Republicans hoping to hold onto the House have seized on an issue that they think can help them in traditional areas that have trended bluer recently -- sanctuary status for undocumented immigrants. The GOP is <a href="https://www.sfchronicle.com/politics/article/Republicans-find-their-voice-as-the-resistance-to-12806420.php">turning into the resistance</a> against the Trump resistance.</p>

    <p>Democrats aren’t the only ones hoping to flip House seats held by the other party in 2018. <a href="https://www.sfchronicle.com/politics/article/California-Republicans-see-chance-to-take-12718199.php">Republicans desperate to hold onto the House</a> think some California Democrats are vulnerable.</p>
  </div>
</div>

<div class="credit-container">

  <div class="thin-divider"></div>

  <div class="credit"><div class="credit-hed">Endorsements: </div><a href="mailto:letters@sfchronicle.com">San Francisco Chronicle</a> &bull; <a href="https://twitter.com/sfchronicle">@sfchronicle</a></div>
  <div class="credit"><div class="credit-hed">Editorial Page Editor: </div><a href="mailto:letters@sfchronicle.com">John Diaz</a> &bull; <a href="https://twitter.com/JohnDiazChron">@JohnDiazChron</a></div>
  <div class="credit"><div class="credit-hed">Assistant Editorial Page Editor: </div><a href="mailto:swhitney@sfchronicle.com">Spencer Whitney</a> &bull; <a href="https://twitter.com/SpenceWhitney">@SpenceWhitney</a></div>
  <div class="credit"><div class="credit-hed">Metro Editor: </div><a href="mailto:tbyrne@sfchronicle.com">Trapper Byrne</a> &bull; <a href="https://twitter.com/trapperbyrne">@trapperbyrne</a></div>
  <div class="credit"><div class="credit-hed">Developer: </div><a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a> &bull; <a href="https://twitter.com/emmaruthoneill">@emmaruthoneill</a></div>
  <div class="credit"><div class="credit-hed">Graphic illustrator: </div><a href="mailto:ttrumbull@sfchronicle.com">Todd Trumbull</a></div>

</div>

<script>
  var HouseData = <%= JSON.stringify(json.House) %>
</script>

<script src="app.js" async></script>
<%= t.include("partials/_footer.html") %>
