<%= t.include("partials/_head.html") %>

<%= t.include("partials/_endorsements.html") %>

<div class="credit-container">

  <div class="thin-divider"></div>

  <div class="credit"><div class="credit-hed">Endorsements: </div><a href="mailto:letters@sfchronicle.com">San Francisco Chronicle Editorial Board</a> &bull; <a href="https://twitter.com/sfchronicle">@sfchronicle</a></div>
  <div class="credit"><div class="credit-hed">Editorial Page Editor: </div><a href="mailto:letters@sfchronicle.com">John Diaz</a> &bull; <a href="https://twitter.com/JohnDiazChron">@JohnDiazChron</a></div>
  <div class="credit"><div class="credit-hed">Assistant Editorial Page Editor: </div><a href="mailto:swhitney@sfchronicle.com">Spencer Whitney</a> &bull; <a href="https://twitter.com/SpenceWhitney">@SpenceWhitney</a></div>
  <div class="credit"><div class="credit-hed">Politics Editor: </div><a href="mailto:tbyrne@sfchronicle.com">Trapper Byrne</a> &bull; <a href="https://twitter.com/trapperbyrne">@trapperbyrne</a></div>
  <div class="credit"><div class="credit-hed">Developer: </div><a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a> &bull; <a href="https://twitter.com/emmaruthoneill">@emmaruthoneill</a></div>
  <div class="credit"><div class="credit-hed">Graphic illustrator: </div><a href="mailto:ttrumbull@sfchronicle.com">Todd Trumbull</a></div>

</div>

<!-- <script>
  var HouseData = <%= JSON.stringify(json.House) %>
</script> -->

<script src="app.js" async></script>
<%= t.include("partials/_footer.html") %>
