<!doctype html>
<html lang="en-US">
  <head>
    <title>House of Representative Race Ratings Map</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css?11">
    <%= t.include("partials/_embedframe.html") %>
  </head>

  <body is='responsive-body'>

  <%= t.include("partials/_housemap.html") %>

  <script src="map_app.js?14" async></script>
